<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demorest.mapper.ArticleMapper">

<resultMap type="com.example.demorest.vo.Article" id="ArticleMapperResult">
 <result property="id" column="id" javaType="long"/>
  <result property="title" column="title" javaType="String"/>
 <result property="author" column="author" javaType="String"/>
 
</resultMap>
	
<select id="getArticles" 
  resultMap="ArticleMapperResult"  
  flushCache="true"
  statementType="PREPARED">
    SELECT * FROM ARTICLES
</select>
   
</mapper>